extends layout

block content
  div(class="head")
    h1 Delete Book Instance

  p(class= "tag") Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  div(class="delete dist")
    h1 #{title}: #{bookInstance._id}
    p Do you really want to delete this Book Instance?

    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', required='true', value=bookInstance._id)

      button.btn.btn-primary(type='submit') Delete