extends layout

block content
  div(class="head")
    h1= title

  p(class= "tag") Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
  

  ul(class="para bot")
    each genre in genre_list
      li
        a(href=genre.url) #{genre.name}

    else
      li There is no genre.