extends layout

block content
  div(class="head")
    h1 #{title}

  p(class= "tag") Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  div(class="formsgen")
    form(method='POST' action='')
      div.form-group
        label(for='name') Genre:
        input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' value=(undefined===genre? '' : genre.name))
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg