extends layout

block content
  div(class="head")
    h1= title

  p(class= "tag") Welcome to #[em LocalLibrary], we can view details of genres. And anyone can access them normally.
  

  ul(class="para bot")
    each genre in genre_list
      li
        a(href=genre.url) #{genre.name}

    else
      li There is no genre.