doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   
    div
      div
          block content

      div
        div(class='col-sm-2 nav')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog')(class="morgap") Home
                hr
              li
                a(href='/catalog/books')(class="moregap") All books
                hr
              li
                a(href='/catalog/authors')(class="moregap") All authors
                hr
              li
                a(href='/catalog/genres')(class="moregap") All genres
                hr
              li
                a(href='/catalog/bookinstances')(class="gap") All book-instances
                
              li(class="hrtag")
                hr

              li
                a(href='/catalog/author/create')(class="gap") Create new author
                hr
              li
                a(href='/catalog/genre/create')(class="gap") Create new genre
                hr
              li
                a(href='/catalog/book/create')(class="gap") Create new book
                hr
              li
                a(href='/catalog/bookinstance/create') Create new book instance (copy)
                hr

        div
          block body
