/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

body {
  background-color: #cee5d0;
}

a {
  color: black;
  text-decoration: none;
  
}

a:hover {
  color: black; 
  text-decoration:none; 
  cursor:pointer;  
}

.gap {
  padding-left: 30px;

}

.moregap {
  padding-left: 60px;
  padding-top: 8px;
}

.morgap {
    padding-left: 80px;
    padding-top: 4px;

}

.hrtag {
  color: solid white;
}

li {
  padding: none;
  
}

li:hover {
  background-color: #cee5d0;
}



.boder {
  border-radius: 1px;
  border-style: solid;
  border-color: #cee5d0;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;

}

.title {
  background-color: #94B49F;
  padding-left: 560px;
  padding-right: 120px;
  margin: 0;
  height: 60px;
  font-family: cursive;
  
}

.nav {
  height: 650px;
  float: left;
  background-color: #94B49F;
  border-bottom: 20px;
  border-color:black;
  padding-left: 25px;
  margin: 0;
}

.para {
  float: right;
}

.bottom {
  display: flex;
  align-content:flex-end;
  
}

.padding {
  padding-left: 300px;
  font-family: cursive;
  padding-top: 20px;
}

.paddings {
  padding-left: 320px;
}

.tag {
  padding-left: 450px;
  background-color: #94B49F;
  margin: 0;
  padding-bottom: 10px;

}

/*book lists */
.head {
  padding-left: 690px;
  background-color: #94B49F;
  height: 60px;
  font-family: cursive;
}

.tit {
  padding-top: 20px;
}

.bot {
   padding-right: 950px;
   padding-top: 20px;
}

/* book_details page */
.cont{
  padding-right: 690px;
  padding-top: 20px;
}

.details {
  height: 60px;
  background-color: #94B49F;
  padding-left: 600px;
}

/* author lists */
.autlists {
  padding-right: 790px; 
  padding-top: 20px;
}

/*for book instances */
.instance {
  padding-right: 710px;
  padding-top: 20px;
}


/* for artists */
.conts{
  padding-right: 790px;
  padding-top: 20px;
}

/* for genre details */
.genre {
  padding-right: 650px;
  padding-top: 20px;
}

/* for forms */
.form {
  float: right;
  padding-top: 50px;
  padding-right: 350px;
}

.formsauth {
  float: right;
  padding-top: 100px;
  padding-right: 550px;
}

.formsgen {
  float: right;
  padding-top: 100px;
  padding-right: 550px;
}

.formbookin {
  float: right;
  padding-top: 100px;
  padding-right: 550px;
}

/* delete forms */
.delete {
  float: right;
  padding-top: 60px;
}

.distance {
  padding-right: 520px
}

.dist {
  padding-right: 200px;
}